.head{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.head-first{
  position: sticky;
  z-index: 999;
  top: 0;
}
.slide{
  width: 600px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.table-d, .th-d, .td-d {
  border: 1px solid black;
  border-collapse: collapse;
}
.input-text[type="text"]:disabled {
  background: #dddddd;
}

.back{
  background-image: url('../public//image//BACKGROUND.jpg');
  background-repeat: none;
  height: 100vh;

  }